<ion-header>
  <ion-toolbar>
    <ion-title>change_password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="" />
    <ion-card-header>
      <ion-card-title>Ingresar cedula para cambiar cuenta</ion-card-title>
    </ion-card-header>
    <ion-card-content class="Register">

      <ion-item>
        <ion-label position="stacked">ANTIGUA CONTRASEÑA</ion-label>
        <ion-input placeholder="Ingrese atigua contraseña..." type="number" required="true"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">NUEVA CONTRASEÑA</ion-label>
        <ion-input placeholder="Ingrese nueva contraseña..." type="number" required="true"></ion-input>
      </ion-item>

      <section class="full-width">
        <ion-button expand="full" color="tertiary" (click)="GoToAccount()">cambiar</ion-button>
      </section>
    </ion-card-content>
  </ion-card>
</ion-content>