<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="GoToAccount()">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Cuenta</ion-label>
      </ion-item>
      <ion-item (click)="GoToSendMoney()">
        <ion-icon name="arrow-redo" slot="start"></ion-icon>
        <ion-label>Enviar Dinero</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="arrow-undo" slot="start"></ion-icon>
        <ion-label>Recibir dinero</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Configuracion</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>Acerca de</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>MoneyApp Send Money</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-content fullscreen>
      <ion-card>
        <img src="" />
        <ion-card-header>
          <ion-card-title>Ingrese celular y monto a enviar</ion-card-title>
        </ion-card-header>
        <ion-card-content class="Register">
    
          <ion-item>
            <ion-label position="stacked">ingrese numero de celular</ion-label>
            <ion-input #celulardestino placeholder="Ingrese celular..." type="number" required="true"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">Cantidad de dinero a enviar</ion-label>
            <ion-input #monto placeholder="Monto ..." type="number" required="true"></ion-input>
          </ion-item>
    
          <section class="full-width">
            <ion-button expand="full" color="tertiary" (click)="postRetiros(3001234567, celulardestino.value, monto.value)">enviar</ion-button>
          </section>
        </ion-card-content>
      </ion-card>
    </ion-content>